.content {
  line-height: 1.6; /* Оптимальная межстрочная высота для улучшения читаемости */

  p {
    font-size: 18px; /* Размер текста, который комфортен для чтения */
    margin-bottom: 20px; /* Увеличенный отступ между абзацами для лучшего разделения контента */
  }

  h1 {
    font-size: 36px; /* Крупный заголовок для привлечения внимания */
    margin-bottom: 24px; /* Отступ после заголовка */
    font-weight: 700; /* Жирный текст */
    line-height: 1.2; /* Плотнее для заголовков */
  }

  h2 {
    font-size: 30px; /* Второстепенный заголовок */
    margin-bottom: 20px; /* Чуть меньший отступ */
    font-weight: 600; /* Полужирный текст */
  }

  h3 {
    font-size: 24px; /* Подзаголовок уровня 3 */
    margin-bottom: 18px;
    font-weight: 600;
  }

  h4, h5, h6 {
    font-size: 20px; /* Меньшие заголовки */
    margin-bottom: 16px; /* Пропорционально меньший отступ */
    font-weight: 500; /* Менее жирный текст для мелких заголовков */
  }

  ul, ol {
    margin-bottom: 20px; /* Отступ после списка */
    padding-left: 40px; /* Дополнительный отступ слева для элементов списка */

    li {
      margin-bottom: 10px; /* Отступ между элементами списка */
    }
  }

  img {
    max-width: 100%; /* Адаптивные изображения */
    height: auto; /* Сохраняем пропорции изображений */
    margin: 20px 0; /* Отступы вокруг изображений для дыхания */
  }

  blockquote {
    font-size: 20px; /* Крупный шрифт для цитат */
    font-style: italic; /* Курсив для выделения */
    margin: 30px 0; /* Отступы сверху и снизу для отделения цитаты от текста */
    padding: 10px 20px; /* Внутренний отступ для оформления цитаты */
    border-left: 4px solid #ccc; /* Линия слева для визуального акцента */
    color: #555; /* Бледный текст для цитат */
  }


  table {
    width: 100%; /* Таблицы занимают всю ширину контейнера */
    border-collapse: collapse; /* Убираем двойные границы */
    margin-bottom: 20px; /* Отступ после таблицы */

    th, td {
      border: 1px solid #ddd; /* Тонкие границы для ячеек */
      padding: 10px; /* Внутренние отступы ячеек */
      text-align: left; /* Текст по левому краю */
    }

    th {
      background-color: #f7f7f7; /* Фоновый цвет для заголовков таблиц */
      font-weight: bold; /* Жирный текст для заголовков таблиц */
    }
  }
}
